syntax: glob
*.pyc
*~
.DS_Store
db.sqlite3
*.sqlite3
venv/*
env/*
dump.rdb
debug.log
.idea
.ipynb_checkpoints
.vscode
upload/*

#import scss
config_scss/upload/*
media/config/image/*

#static
static/video/*
static/scss/*
test_member_upload
alert/export/

#move template, static, media
media/*
!media/config/default/*
!media/test/*
!media/example/*
media_private
stream_private/*
upload

twoc_twop/php/tmp/*
_docker/web
_docker/dashboard

time_clock/venv/

_data/data/*

script/en.js
script/th.js

ubuntu-zesty-17\.04-cloudimg-console\.log
ubuntu-bionic-18\.04-cloudimg-console\.log

survey/after.txt
survey/before.txt

celeryev\.pid
celerybeat*
version\.txt
tag\.txt
dict\.json

script/vendor/ais/log_page\.txt

vendor_ptt/export/*
vendor_cp/export/*

config.json

flower.db

outbound-*/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

app*.log*
celery*.log*

docker-image/
mariadb-volume/mariadb-data/

docker-compose.yml
.python-version

*.xml


time_clock/time_clock/__pycache__/

